@import '../../scss/lib.scss';

.text-image {
  @include customize(theme) {
    background: getValue(backgroundColor);
    color: getValue(textColor);
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(10px);
}