@import '../../scss/lib';

.text-image {
  @include customize(theme) {
    background: get-value(background-color);
    color: get-value(text-color);
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(10px);
}
