@use '../../../scss/lib';

.card {
  list-style: none;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0.625rem 1.25rem;
  }

  &__body {
    margin-top: 0.625rem;
  }
}
