@import '../../scss/lib';

.card {
  list-style: none;
  @include customize(theme) {
    background: get-value(background-color);
    color: get-value(text-color);
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: rem(10px) rem(20px);
  }

  &__body {
    margin-top: rem(10px);
  }
}
