@import '../../scss/lib.scss';

.card {
  list-style: none;
  @include customize(theme) {
    background: getValue(backgroundColor);
    color: getValue(textColor);
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: rem(10px) rem(20px);
  }

  &__body {
    margin-top: rem(10px);
  }
}
