:root {
  --mt-color-background-primary: var(--mt-base-color-white);
  --mt-color-font-primary: var(--mt-base-color-black);
  --mt-color-background-primary-reversed: var(--mt-base-color-black);
  --mt-color-font-primary-reversed: var(--mt-base-color-white);
}
