:root {
  --mt-layout-gutter-mobile: 0.75rem;
  --mt-layout-gutter-tablet: 1rem;
  --mt-layout-gutter-desktop: 2rem;
  --mt-layout-margin-mobile: 1.25rem;
  --mt-layout-margin-tablet: 1.5rem;
  --mt-layout-margin-large-desktop: 10rem;
}
