@use 'sass:math';

/*************************
** Breakpoints **
*************************/
$sm: 48rem;
$md: 64rem;
$lg: 75rem;

/*************************
** Typography **
*************************/

$font-headline: 'Times New Roman', serif;
$font-body: 'Verdana', sans-serif;
$normal: 400;
$bold: 700;

@mixin font-headline($weight: $normal) {
  font-family: $font-headline;
  font-style: normal;
  font-weight: $weight;
}

@mixin font-body {
  font-family: $font-body;
  font-style: normal;
  font-weight: $normal;
}

/*************************
** Grid **
*************************/
$width: 72rem;
$cols: 12;

@mixin container($width: $width) {
  max-width: $width;
  padding: 0 1rem;
  margin: 0 auto;
  @media screen and (min-width: $sm) {
    max-width: calc($width + 4rem);
    padding: 0 2rem;
  }
  @media screen and (min-width: $lg) {
    max-width: calc($width + 10rem);
    padding: 0 5rem;
  }
}

@mixin grid($cols: $cols, $size: 1fr) {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat($cols, $size);
}

/*************************
** Accessibility **
*************************/
@mixin sr-only {
  position: absolute;
  top: auto;
  left: -625rem;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 1rem;
}
